In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'/Users/camilarozo/REPORTING/notebooks'

In [3]:
os.chdir("..")
os.getcwd()

'/Users/camilarozo/REPORTING'

In [4]:
df = pd.read_csv("data/processed/dataset_clean.csv")
#change all variable names to use this dataset

In [4]:
df = pd.read_csv("data/raw/retail_sales_dataset.csv
#if variable names are not changed with lower case and underscore use this dataset

In [5]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

## Global Performance KPIs

### 1. Total Revenue
**Description:** Sum of all transaction amounts  
**Formula:** Sum of Total Amount column

In [7]:
total_revenue = df["Total Amount"].sum()

In [8]:
print(f"Total Revenue: ${total_revenue:,.2f}")

Total Revenue: $456,000.00

### 2. Total Transactions
**Description:** Count of unique transactions  
**Formula:** Count of distinct Transaction IDs

In [8]:
total_transactions = df["Transaction ID"].nunique()

In [9]:
print(f"Total Transactions: {total_transactions:,}")

Total Transactions: 1,000

### 3. Average Order Value (AOV)
**Description:** Average dollar amount per transaction  
**Formula:** Total Revenue divided by Total Transactions

In [10]:
aov = total_revenue / total_transactions

In [11]:
print(f"Average Order Value: ${aov:,.2f}")

Average Order Value: $456.00

### 4. Average Items per Order
**Description:** Mean number of items purchased per transaction  
**Formula:** Mean of Quantity column

In [13]:
avg_items_per_order = df["Quantity"].mean()

In [14]:
print(f"Average Items per Order: {avg_items_per_order:.2f}")

Average Items per Order: 2.51

### 5. Min/Max Order Value
**Description:** Smallest and largest transaction amounts (for outlier detection)  
**Formula:** Minimum and Maximum of Total Amount column

In [15]:
min_order_value = df["Total Amount"].min()
max_order_value = df["Total Amount"].max()

In [18]:
print(f"Minimum Order Value: ${min_order_value:,.2f}")
print(f"Maximum Order Value: ${max_order_value:,.2f}")

Minimum Order Value: $25.00
Maximum Order Value: $2,000.00

### 6. Median Order Value
**Description:** Middle value of all transaction amounts (less sensitive to outliers than mean)  
**Formula:** Median of Total Amount column

In [19]:
median_order_value = df["Total Amount"].median()

In [20]:
print(f"Median Order Value: ${median_order_value:,.2f}")

Median Order Value: $135.00

### 7. Standard Deviation of Order Value
**Description:** Measure of how spread out transaction amounts are from the average  
**Formula:** Population standard deviation of Total Amount column

In [21]:
std_order_value = df["Total Amount"].std(ddof=0)

In [22]:
print(f"Standard Deviation of Order Value: ${std_order_value:,.2f}")

Standard Deviation of Order Value: $559.72

### Summary Table

In [28]:
kpi_summary = pd.DataFrame({
    'KPI': ['Total Revenue', 'Total Transactions', 'Average Order Value', 
            'Average Items per Order', 'Min Order Value', 'Max Order Value',
            'Median Order Value', 'Std Dev Order Value'],
    'Value': [f"${total_revenue:,.2f}", 
              f"{total_transactions:,}",
              f"${aov:,.2f}",
              f"{avg_items_per_order:.2f}",
              f"${min_order_value:,.2f}",
              f"${max_order_value:,.2f}",
              f"${median_order_value:,.2f}",
              f"${std_order_value:,.2f}"]
    })

In [30]:
print(kpi_summary.to_string(index=False))

                    KPI       Value
          Total Revenue $456,000.00
     Total Transactions       1,000
    Average Order Value     $456.00
Average Items per Order        2.51
        Min Order Value      $25.00
        Max Order Value   $2,000.00
     Median Order Value     $135.00
    Std Dev Order Value     $559.72

## Time-Based KPIs

### 1. Transactions per Day
**Description:** Number of transactions occurring each day  
**Formula:** Count of Transaction IDs grouped by Date

In [32]:
transactions_per_day = df.groupby('Date')['Transaction ID'].count().reset_index()
transactions_per_day.columns = ['Date', 'Transactions']

print(transactions_per_day.head(10))
print(f"\nAverage Transactions per Day: {transactions_per_day['Transactions'].mean():.2f}")

         Date  Transactions
0  2023-01-01             3
1  2023-01-02             4
2  2023-01-03             1
3  2023-01-04             3
4  2023-01-05             3
5  2023-01-06             2
6  2023-01-07             2
7  2023-01-08             2
8  2023-01-09             1
9  2023-01-10             2

Average Transactions per Day: 2.90

### 2. Revenue per Day
**Description:** Total revenue generated each day  
**Formula:** Sum of Total Amount grouped by Date

In [34]:
revenue_per_day = df.groupby('Date')['Total Amount'].sum().reset_index()
revenue_per_day.columns = ['Date', 'Revenue']

print(revenue_per_day.head(10))
print(f"\nAverage Revenue per Day: ${revenue_per_day['Revenue'].mean():,.2f}")

         Date  Revenue
0  2023-01-01     3600
1  2023-01-02     1765
2  2023-01-03      600
3  2023-01-04     1240
4  2023-01-05     1100
5  2023-01-06      620
6  2023-01-07      150
7  2023-01-08      625
8  2023-01-09      200
9  2023-01-10      230

Average Revenue per Day: $1,321.74

### 3. Average Order Value per Day
**Description:** Mean transaction amount for each day (shows daily price sensitivity)  
**Formula:** Sum of Total Amount divided by Count of Transactions, grouped by Date

In [36]:
aov_per_day = df.groupby('Date')['Total Amount'].mean().reset_index()
aov_per_day.columns = ['Date', 'Avg_Order_Value']

print(aov_per_day.head(10))
print(f"\nOverall Average Order Value per Day: ${aov_per_day['Avg_Order_Value'].mean():,.2f}")

         Date  Avg_Order_Value
0  2023-01-01      1200.000000
1  2023-01-02       441.250000
2  2023-01-03       600.000000
3  2023-01-04       413.333333
4  2023-01-05       366.666667
5  2023-01-06       310.000000
6  2023-01-07        75.000000
7  2023-01-08       312.500000
8  2023-01-09       200.000000
9  2023-01-10       115.000000

Overall Average Order Value per Day: $459.07

### Summary Statistics Table

In [37]:
time_kpi_summary = pd.DataFrame({
    'KPI': ['Total Days with Transactions',
            'Avg Transactions per Day', 
            'Min Transactions per Day',
            'Max Transactions per Day',
            'Avg Revenue per Day',
            'Min Revenue per Day',
            'Max Revenue per Day',
            'Avg AOV per Day',
            'Min AOV per Day',
            'Max AOV per Day'],
    'Value': [f"{len(transactions_per_day):,}",
              f"{transactions_per_day['Transactions'].mean():.2f}",
              f"{transactions_per_day['Transactions'].min():,}",
              f"{transactions_per_day['Transactions'].max():,}",
              f"${revenue_per_day['Revenue'].mean():,.2f}",
              f"${revenue_per_day['Revenue'].min():,.2f}",
              f"${revenue_per_day['Revenue'].max():,.2f}",
              f"${aov_per_day['Avg_Order_Value'].mean():,.2f}",
              f"${aov_per_day['Avg_Order_Value'].min():,.2f}",
              f"${aov_per_day['Avg_Order_Value'].max():,.2f}"]
})

print(time_kpi_summary.to_string(index=False))

                         KPI     Value
Total Days with Transactions       345
    Avg Transactions per Day      2.90
    Min Transactions per Day         1
    Max Transactions per Day        11
         Avg Revenue per Day $1,321.74
         Min Revenue per Day    $25.00
         Max Revenue per Day $8,455.00
             Avg AOV per Day   $459.07
             Min AOV per Day    $25.00
             Max AOV per Day $2,000.00

#### Daily Metrics

In [40]:
daily_metrics = transactions_per_day.merge(revenue_per_day, on='Date')
daily_metrics = daily_metrics.merge(aov_per_day, on='Date')
print(daily_metrics.head(10))

         Date  Transactions  Revenue  Avg_Order_Value
0  2023-01-01             3     3600      1200.000000
1  2023-01-02             4     1765       441.250000
2  2023-01-03             1      600       600.000000
3  2023-01-04             3     1240       413.333333
4  2023-01-05             3     1100       366.666667
5  2023-01-06             2      620       310.000000
6  2023-01-07             2      150        75.000000
7  2023-01-08             2      625       312.500000
8  2023-01-09             1      200       200.000000
9  2023-01-10             2      230       115.000000

## Product Performance KPIs

### 1. Revenue by Product Category
**Description:** Total revenue generated by each product category  
**Formula:** Sum of Total Amount grouped by Product Category

In [43]:
revenue_by_category = df.groupby('Product Category')['Total Amount'].sum().reset_index()
revenue_by_category.columns = ['Product Category', 'Revenue']
revenue_by_category = revenue_by_category.sort_values('Revenue', ascending=False)

print(revenue_by_category)
print(f"\nTop Revenue Category: {revenue_by_category.iloc[0]['Product Category']} (${revenue_by_category.iloc[0]['Revenue']:,.2f})")

  Product Category  Revenue
2      Electronics   156905
1         Clothing   155580
0           Beauty   143515

Top Revenue Category: Electronics ($156,905.00)

### 2. Units Sold by Category
**Description:** Total number of items sold in each product category  
**Formula:** Sum of Quantity grouped by Product Category

In [44]:
units_by_category = df.groupby('Product Category')['Quantity'].sum().reset_index()
units_by_category.columns = ['Product Category', 'Units Sold']
units_by_category = units_by_category.sort_values('Units Sold', ascending=False)

print(units_by_category)
print(f"\nTop Volume Category: {units_by_category.iloc[0]['Product Category']} ({units_by_category.iloc[0]['Units Sold']:,} units)")

  Product Category  Units Sold
1         Clothing         894
2      Electronics         849
0           Beauty         771

Top Volume Category: Clothing (894 units)

### 3. Average Price per Unit by Category
**Description:** Mean price point for each product category (indicates pricing strategy)  
**Formula:** Mean of Price per Unit grouped by Product Category

In [46]:
avg_price_by_category = df.groupby('Product Category')['Price per Unit'].mean().reset_index()
avg_price_by_category.columns = ['Product Category', 'Avg Price per Unit']
avg_price_by_category = avg_price_by_category.sort_values('Avg Price per Unit', ascending=False)

print(avg_price_by_category)
print(f"\nHighest Priced Category: {avg_price_by_category.iloc[0]['Product Category']} (${avg_price_by_category.iloc[0]['Avg Price per Unit']:,.2f})")

  Product Category  Avg Price per Unit
0           Beauty          184.055375
2      Electronics          181.900585
1         Clothing          174.287749

Highest Priced Category: Beauty ($184.06)

### Summary Table

In [47]:
category_summary = revenue_by_category.merge(units_by_category, on='Product Category')
category_summary = category_summary.merge(avg_price_by_category, on='Product Category')

category_summary['Revenue Pct'] = (category_summary['Revenue'] / category_summary['Revenue'].sum() * 100).round(2)

category_summary = category_summary.sort_values('Revenue', ascending=False)

print(category_summary.to_string(index=False))

Product Category  Revenue  Units Sold  Avg Price per Unit  Revenue Pct
     Electronics   156905         849          181.900585        34.41
        Clothing   155580         894          174.287749        34.12
          Beauty   143515         771          184.055375        31.47

### Key Insights

In [48]:
print("\n=== Volume vs Value Analysis ===")
print(f"Category with highest revenue: {category_summary.iloc[0]['Product Category']}")
print(f"Category with highest volume: {units_by_category.iloc[0]['Product Category']}")
print(f"Category with highest avg price: {avg_price_by_category.iloc[0]['Product Category']}")

=== Volume vs Value Analysis ===
Category with highest revenue: Electronics
Category with highest volume: Clothing
Category with highest avg price: Beauty

In [50]:
if category_summary.iloc[0]['Product Category'] == units_by_category.iloc[0]['Product Category']:
    print("\nTop revenue driven by HIGH VOLUME")
else:
    print("\nTop revenue driven by HIGHER PRICE POINTS or mix")

Top revenue driven by HIGHER PRICE POINTS or mix

## Customer Demographics KPIs

### 1. Revenue by Gender
**Description:** Total revenue generated by each gender segment  
**Formula:** Sum of Total Amount grouped by Gender

In [52]:
revenue_by_gender = df.groupby('Gender')['Total Amount'].sum().reset_index()
revenue_by_gender.columns = ['Gender', 'Revenue']
revenue_by_gender = revenue_by_gender.sort_values('Revenue', ascending=False)

print(revenue_by_gender)
print(f"\nTop Revenue Gender: {revenue_by_gender.iloc[0]['Gender']} (${revenue_by_gender.iloc[0]['Revenue']:,.2f})")

   Gender  Revenue
0  Female   232840
1    Male   223160

Top Revenue Gender: Female ($232,840.00)

### 2. Average Order Value by Gender
**Description:** Mean transaction amount for each gender (shows purchasing behavior differences)  
**Formula:** Mean of Total Amount grouped by Gender

In [53]:
aov_by_gender = df.groupby('Gender')['Total Amount'].mean().reset_index()
aov_by_gender.columns = ['Gender', 'Avg Order Value']
aov_by_gender = aov_by_gender.sort_values('Avg Order Value', ascending=False)

print(aov_by_gender)
print(f"\nHighest AOV Gender: {aov_by_gender.iloc[0]['Gender']} (${aov_by_gender.iloc[0]['Avg Order Value']:,.2f})")

   Gender  Avg Order Value
0  Female       456.549020
1    Male       455.428571

Highest AOV Gender: Female ($456.55)

### 3. Average Order Value by Age Group
**Description:** Mean transaction amount for different age segments (identifies target demographics)  
**Formula:** Mean of Total Amount grouped by Age Group

In [56]:
df['Age Group'] = pd.cut(df['Age'], 
                         bins=[0, 25, 35, 45, 55, 100], 
                         labels=['18-25', '26-35', '36-45', '46-55', '56+'])

# Average Order Value by Age Group
aov_by_age = df.groupby('Age Group', observed=True)['Total Amount'].mean().reset_index()
aov_by_age.columns = ['Age Group', 'Avg Order Value']

# Transaction counts by age group
transactions_by_age = df.groupby('Age Group', observed=True)['Transaction ID'].count().reset_index()
transactions_by_age.columns = ['Age Group', 'Transactions']

# Revenue by age group
revenue_by_age = df.groupby('Age Group', observed=True)['Total Amount'].sum().reset_index()
revenue_by_age.columns = ['Age Group', 'Revenue']

print(aov_by_age)
print(f"\nHighest AOV Age Group: {aov_by_age.iloc[0]['Age Group']} (${aov_by_age.iloc[0]['Avg Order Value']:,.2f})")

  Age Group  Avg Order Value
0     18-25       500.295858
1     26-35       480.390244
2     36-45       454.801980
3     46-55       439.694323
4       56+       412.358974

Highest AOV Age Group: 18-25 ($500.30)

### Additional Demographic Metrics

In [60]:
# Transaction counts by gender
transactions_by_gender = (
    df.groupby('Gender', observed=True)['Transaction ID']
      .count()
      .reset_index()
)
transactions_by_gender.columns = ['Gender', 'Transactions']

# Transaction counts by age group
transactions_by_age = (
    df.groupby('Age Group', observed=True)['Transaction ID']
      .count()
      .reset_index()
)
transactions_by_age.columns = ['Age Group', 'Transactions']

# Revenue by age group
revenue_by_age = (
    df.groupby('Age Group', observed=True)['Total Amount']
      .sum()
      .reset_index()
)
revenue_by_age.columns = ['Age Group', 'Revenue']

print("\n=== Transactions by Gender ===")
print(transactions_by_gender)

print("\n=== Transactions by Age Group ===")
print(transactions_by_age)

print("\n=== Revenue by Age Group ===")
print(revenue_by_age)

=== Transactions by Gender ===
   Gender  Transactions
0  Female           510
1    Male           490

=== Transactions by Age Group ===
  Age Group  Transactions
0     18-25           169
1     26-35           205
2     36-45           202
3     46-55           229
4       56+           195

=== Revenue by Age Group ===
  Age Group  Revenue
0     18-25    84550
1     26-35    98480
2     36-45    91870
3     46-55   100690
4       56+    80410

### Summary Table - Gender Demographics

In [61]:
# Combine gender metrics
gender_summary = revenue_by_gender.merge(transactions_by_gender, on='Gender')
gender_summary = gender_summary.merge(aov_by_gender, on='Gender')

# Calculate percentages
gender_summary['Revenue Pct'] = (gender_summary['Revenue'] / gender_summary['Revenue'].sum() * 100).round(2)
gender_summary['Transaction Pct'] = (gender_summary['Transactions'] / gender_summary['Transactions'].sum() * 100).round(2)

print("\n=== Gender Summary ===")
print(gender_summary.to_string(index=False))

=== Gender Summary ===
Gender  Revenue  Transactions  Avg Order Value  Revenue Pct  Transaction Pct
Female   232840           510       456.549020        51.06             51.0
  Male   223160           490       455.428571        48.94             49.0

### Summary Table - Age Group Demographics

In [62]:
# Combine age group metrics
age_summary = revenue_by_age.merge(transactions_by_age, on='Age Group')
age_summary = age_summary.merge(aov_by_age, on='Age Group')

# Calculate percentages
age_summary['Revenue Pct'] = (age_summary['Revenue'] / age_summary['Revenue'].sum() * 100).round(2)
age_summary['Transaction Pct'] = (age_summary['Transactions'] / age_summary['Transactions'].sum() * 100).round(2)

# Sort by revenue
age_summary = age_summary.sort_values('Revenue', ascending=False)

print("\n=== Age Group Summary ===")
print(age_summary.to_string(index=False))

=== Age Group Summary ===
Age Group  Revenue  Transactions  Avg Order Value  Revenue Pct  Transaction Pct
    46-55   100690           229       439.694323        22.08             22.9
    26-35    98480           205       480.390244        21.60             20.5
    36-45    91870           202       454.801980        20.15             20.2
    18-25    84550           169       500.295858        18.54             16.9
      56+    80410           195       412.358974        17.63             19.5

### Key Demographic Insights

In [63]:
print("\n=== Key Demographic Insights ===")
print(f"Primary revenue gender: {gender_summary.iloc[0]['Gender']} ({gender_summary.iloc[0]['Revenue Pct']:.1f}% of revenue)")
print(f"Highest spending gender: {aov_by_gender.iloc[0]['Gender']} (${aov_by_gender.iloc[0]['Avg Order Value']:,.2f} AOV)")
print(f"Primary revenue age group: {age_summary.iloc[0]['Age Group']} ({age_summary.iloc[0]['Revenue Pct']:.1f}% of revenue)")
print(f"Highest spending age group: {aov_by_age.iloc[0]['Age Group']} (${aov_by_age.iloc[0]['Avg Order Value']:,.2f} AOV)")

=== Key Demographic Insights ===
Primary revenue gender: Female (51.1% of revenue)
Highest spending gender: Female ($456.55 AOV)
Primary revenue age group: 46-55 (22.1% of revenue)
Highest spending age group: 18-25 ($500.30 AOV)

## Transaction Distribution KPIs (Risk & Insight)

### 1. Percentage of Low / Medium / High Value Orders
**Description:** Distribution of transactions across value tiers (shows revenue concentration risk)  
**Formula:** Categorize transactions into value tiers, then calculate percentage of each

In [65]:
# Define value tiers based on your business logic
# Option 1: Using percentiles (recommended for most cases)
low_threshold = df['Total Amount'].quantile(0.33)
high_threshold = df['Total Amount'].quantile(0.67)

# Option 2: Using fixed dollar amounts (uncomment if preferred)
# low_threshold = 100
# high_threshold = 500

# Create value categories
df['Value Tier'] = pd.cut(df['Total Amount'], 
                          bins=[0, low_threshold, high_threshold, float('inf')],
                          labels=['Low', 'Medium', 'High'])

# Calculate distribution
value_distribution = df.groupby('Value Tier', observed=True).agg({
    'Transaction ID': 'count',
    'Total Amount': 'sum'
}).reset_index()

value_distribution.columns = ['Value Tier', 'Transaction Count', 'Revenue']

# Calculate percentages
value_distribution['Transaction Pct'] = (value_distribution['Transaction Count'] / value_distribution['Transaction Count'].sum() * 100).round(2)
value_distribution['Revenue Pct'] = (value_distribution['Revenue'] / value_distribution['Revenue'].sum() * 100).round(2)

print(value_distribution)
print(f"\nLow threshold: ${low_threshold:.2f}")
print(f"High threshold: ${high_threshold:.2f}")

  Value Tier  Transaction Count  Revenue  Transaction Pct  Revenue Pct
0        Low                349    18440             34.9         4.04
1     Medium                352    73960             35.2        16.22
2       High                299   363600             29.9        79.74

Low threshold: $90.00
High threshold: $500.00

### 2. Top 10 Highest Transactions
**Description:** Largest transactions for outlier monitoring and VIP customer identification  
**Formula:** Sort transactions by Total Amount in descending order, select top 10

In [66]:
top_10_transactions = df.nlargest(10, 'Total Amount')[['Transaction ID', 'Date', 'Customer ID', 
                                                         'Product Category', 'Total Amount', 
                                                         'Quantity', 'Price per Unit']]

print("\n=== Top 10 Highest Transactions ===")
print(top_10_transactions.to_string(index=False))

print(f"\nHighest Transaction: ${top_10_transactions.iloc[0]['Total Amount']:,.2f}")
print(f"Top 10 Total Revenue: ${top_10_transactions['Total Amount'].sum():,.2f}")
print(f"Top 10 as % of Total Revenue: {(top_10_transactions['Total Amount'].sum() / df['Total Amount'].sum() * 100):.2f}%")

=== Top 10 Highest Transactions ===
 Transaction ID       Date Customer ID Product Category  Total Amount  Quantity  Price per Unit
             15 2023-01-16     CUST015      Electronics          2000         4             500
             65 2023-12-05     CUST065      Electronics          2000         4             500
             72 2023-05-23     CUST072      Electronics          2000         4             500
             74 2023-11-22     CUST074           Beauty          2000         4             500
             89 2023-10-01     CUST089      Electronics          2000         4             500
             93 2023-07-14     CUST093           Beauty          2000         4             500
            109 2023-10-18     CUST109      Electronics          2000         4             500
            118 2023-05-16     CUST118      Electronics          2000         4             500
            124 2023-10-27     CUST124         Clothing          2000         4             500
            139 2023-12-15     CUST139           Beauty          2000         4             500

Highest Transaction: $2,000.00
Top 10 Total Revenue: $20,000.00
Top 10 as % of Total Revenue: 4.39%

### Summary Table - Transaction Distribution Analysis

In [67]:
distribution_summary = pd.DataFrame({
    'Metric': ['Low Value Orders (%)', 
               'Medium Value Orders (%)', 
               'High Value Orders (%)',
               'Low Value Revenue (%)',
               'Medium Value Revenue (%)',
               'High Value Revenue (%)',
               'Top 10 Transactions Revenue Share (%)'],
    'Value': [f"{value_distribution[value_distribution['Value Tier']=='Low']['Transaction Pct'].values[0]:.2f}%",
              f"{value_distribution[value_distribution['Value Tier']=='Medium']['Transaction Pct'].values[0]:.2f}%",
              f"{value_distribution[value_distribution['Value Tier']=='High']['Transaction Pct'].values[0]:.2f}%",
              f"{value_distribution[value_distribution['Value Tier']=='Low']['Revenue Pct'].values[0]:.2f}%",
              f"{value_distribution[value_distribution['Value Tier']=='Medium']['Revenue Pct'].values[0]:.2f}%",
              f"{value_distribution[value_distribution['Value Tier']=='High']['Revenue Pct'].values[0]:.2f}%",
              f"{(top_10_transactions['Total Amount'].sum() / df['Total Amount'].sum() * 100):.2f}%"]
})

print("\n=== Distribution Summary ===")
print(distribution_summary.to_string(index=False))

=== Distribution Summary ===
                               Metric  Value
                 Low Value Orders (%) 34.90%
              Medium Value Orders (%) 35.20%
                High Value Orders (%) 29.90%
                Low Value Revenue (%)  4.04%
             Medium Value Revenue (%) 16.22%
               High Value Revenue (%) 79.74%
Top 10 Transactions Revenue Share (%)  4.39%

### Risk & Concentration Insights

In [68]:
print("\n=== Risk & Concentration Analysis ===")

# Check for revenue concentration risk
high_value_revenue_pct = value_distribution[value_distribution['Value Tier']=='High']['Revenue Pct'].values[0]
high_value_transaction_pct = value_distribution[value_distribution['Value Tier']=='High']['Transaction Pct'].values[0]

if high_value_revenue_pct > 50:
    print(f"⚠️  HIGH CONCENTRATION RISK: {high_value_revenue_pct:.1f}% of revenue from high-value orders")
    print(f"   Only {high_value_transaction_pct:.1f}% of transactions are high-value")
else:
    print(f"✓ Balanced distribution: {high_value_revenue_pct:.1f}% of revenue from high-value orders")

# Top 10 concentration
top_10_pct = (top_10_transactions['Total Amount'].sum() / df['Total Amount'].sum() * 100)
if top_10_pct > 10:
    print(f"⚠️  Top 10 transactions represent {top_10_pct:.1f}% of total revenue - monitor these customers closely")
else:
    print(f"✓ Top 10 transactions represent {top_10_pct:.1f}% of total revenue - healthy distribution")

# Outlier detection
q1 = df['Total Amount'].quantile(0.25)
q3 = df['Total Amount'].quantile(0.75)
iqr = q3 - q1
outlier_threshold = q3 + (1.5 * iqr)
outliers = df[df['Total Amount'] > outlier_threshold]

print(f"\nOutlier threshold (1.5 IQR): ${outlier_threshold:.2f}")
print(f"Number of outlier transactions: {len(outliers)} ({len(outliers)/len(df)*100:.2f}% of total)")

=== Risk & Concentration Analysis ===
⚠️  HIGH CONCENTRATION RISK: 79.7% of revenue from high-value orders
   Only 29.9% of transactions are high-value
✓ Top 10 transactions represent 4.4% of total revenue - healthy distribution

Outlier threshold (1.5 IQR): $2160.00
Number of outlier transactions: 0 (0.00% of total)